</div> <!-- wrapper -->
<div class="footer">
<div class="project-in-mind new-business">
    <div class="container">
        <div class="row">
            <div class="col-xs-14">
                <a id="xclose" href="#" class="btn-light close-toggle"><img src="/assets/icons/close.svg"></a>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h3>New Business</h3>
                <p>We like to collaborate with people, organizations and  businesses who have a clear foresight of their goals and share the mentality for design thinking.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form action="https://formspree.io/hello@eeter.co" method="POST">
                    <!-- Form start -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="name" name="name" type="text" placeholder="Your Name" class="form-control input-md">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="col-md-6 col-md-offset-1 col-sm-offset-0">
                            <div class="form-group">
                                <input id="email" name="_replyto" type="text" placeholder="Your Email" class="form-control input-md">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="date" name="_subject" type="text" placeholder="Project name" class="form-control input-md">
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="col-md-6 col-md-offset-1 col-sm-offset-0">
                            <div class="form-group budget">
                                <div class="select">
                                    <!-- You can toggle select (disabled) -->
                                    <input type="radio" name="budget">
                                    <span class="placeholder">Budget estimate ↓</span>
                                    <label class="option">
                                        <input type="radio" name="Budget_Non_Disclosed">
                                        <span class="title">Non disclosed</span>
                                    </label>
                                    <label class="option">
                                        <input type="radio" name="Budget_2500_7500">
                                        <span class="title">5,000 - 10,000€</span>
                                    </label>
                                    <label class="option">
                                        <input type="radio" name="Budget_7500_15k">
                                        <span class="title">10,000 - 15,000€</span>
                                    </label>
                                    <label class="option">
                                        <input type="radio" name="Budget_15k_30k">
                                        <span class="title">15,000 - 30,000€</span>
                                    </label>
                                    <label class="option">
                                        <input type="radio" name="Budget_Over_30k">
                                        <span class="title">> 30,000€</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="col-md-13">
                            <div class="form-group">
                                <textarea id="message" name="message" type="textarea" placeholder="Tell us a little bit about yourself and the project. Its purpose, what fundamental problems are solved and what are its goals." class="form-control input-md" rows="5"></textarea>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <button id="singlebutton" name="_next" class="btn btn-default">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- form end -->
            </div>
        </div>
    </div>
</div>
<footer role="contentinfo">
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <p><a href="/">EETER co OÜ 2013 – 2018</a></p>
                <p class="text--nitti">Estonia, Tallinn<br> 11317, Pärnu mnt. 154</p>
            </div>
            <div class="col-sm-3">
                <p>&nbsp;</p>
                <p class="text--nitti">Registry nr. 12588613 <br>VAT EE101887339</p>
            </div>
            <div class="col-sm-3">
                <p>&nbsp;</p>
                <p class="text--nitti">Drop us a line: <br><a class="line--white" href="mailto:stuudio@eeter.co">stuudio@eeter.co</a></p>
            </div>
            <div class="col-sm-4">
                <p>&nbsp;</p>
                <p class="text--nitti"><a class="xtoggle" href="#"><span>Got a project<br>in mind?</span> <img class="hands" src="/assets/icons/Hands.svg" alt=""></a></p>
            </div>
        </div>
    </div>
    <div class="container hidden-sm hidden-md hidden-lg">
        <div class="row">
            <div class="col-xs-7 col-xs-offset-1">
                <p>EETER co OÜ 2013 – 2018</p>
                <p class="text--nitti">Estonia, Tallinn<br> 11317, Pärnu mnt. 154</p>
            
                <p class="text--nitti">Registry nr. 12588613 <br>VAT EE101887339</p>
        
                <p class="text--nitti">Drop us a line: <br><a class="line--white" href="mailto:stuudio@eeter.co">stuudio@eeter.co</a></p>
            </div>
            <div class="col-xs-5 text-center">
                <a class="xtoggle" href="#"><img src="/assets/icons/Hands.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>
</div>
