</div> <!-- wrapper -->
<div class="footer">
<footer role="contentinfo">
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <p><a href="/">EETER co OÜ 2013 – 2018</a></p>
                <p class="text--nitti">Estonia, Tallinn<br> 11317, Pärnu mnt. 154</p>
            </div>
            <div class="col-sm-3">
                <p>&nbsp;</p>
                <p class="text--nitti">Registry nr. 12588613 <br>VAT EE101887339</p>
            </div>
            <div class="col-sm-3">
                <p>&nbsp;</p>
                <p class="text--nitti">Drop us a line: <br><a class="line--white" href="mailto:stuudio@eeter.co">stuudio@eeter.co</a></p>
            </div>
            <div class="col-sm-4">
                <p>&nbsp;</p>
                <p class="text--nitti"><a class="xtoggle" href="#"><span>Got a project<br>in mind?</span> <img class="hands" src="/assets/icons/Hands.svg" alt=""></a></p>
            </div>
        </div>
    </div>
    <div class="container hidden-sm hidden-md hidden-lg">
        <div class="row">
            <div class="col-xs-7 col-xs-offset-1">
                <p>EETER co OÜ 2013 – 2018</p>
                <p class="text--nitti">Estonia, Tallinn<br> 11317, Pärnu mnt. 154</p>
            
                <p class="text--nitti">Registry nr. 12588613 <br>VAT EE101887339</p>
        
                <p class="text--nitti">Drop us a line: <br><a class="line--white" href="mailto:stuudio@eeter.co">stuudio@eeter.co</a></p>
            </div>
            <div class="col-xs-5 text-center">
            </div>
        </div>
    </div>
</footer>
</div>