{% include header.html %}

<div class="container heading hidden-xs container--jumbotron">
	<div class="row">
		<div class="col-md-14 col-sm-12 col-xs-14 p-0">
			<img src="{{ page.Image }}" class="img-responsive" />
		</div>
	</div>
</div>
<div class="container container--service">
	<div class="row">
		<div class="col-md-4 col-sm-offset-1 col-md-offset-0 col-sm-10 col-xs-14 margin-top margin-bottom--large">
			<h1 class="hidden-sm hidden-xs">{{ page.Heading }}</h1>
			<h3 class="text--light">{{ page.title }}</h3>
			<h1 class="hidden-md hidden-lg">{{ page.Heading }}</h1>
		</div>
		<div class="col-14 hidden-sm hidden-md hidden-lg margin-bottom--special">
			<img src="{{ page.Image }}" class="img-responsive img--mobile-bleed" />
		</div>
		<div class="col-md-4 col-sm-6 col-sm-offset-1 col-md-offset-0 col-xs-14 text--large margin-bottom--large">
			{{page.content1}}
		</div>
		<div class="col-md-4 col-sm-5 col-sm-offset-1 col-md-offset-0 col-xs-14 text--large margin-bottom--large">
			{{page.content2}}
		</div>
	</div>
</div>
<div class="container container--navigation">
	<div class="row margin-bottom--special">
		<div class="col-sm-6 col-sm-offset-1 col-xs-7 text-left">
			{% if page.previous %}
		        {% assign previous = page.previous %}
		    {% else %}
		        {% assign previous = site.services[0] %}
	    	{% endif %}
			<a class="prev-next" href="{{ previous.url }}">← {{ previous.title }}</a>
		</div>
		<div class="col-lg-7 col-sm-6 col-xs-7 text-right">
			{% if page.next %}
		        {% assign next = page.next %}
		    {% else %}
		        {% assign next = site.services[0] %}
	    	{% endif %}
			<a class="prev-next" href="{{ next.url }}">{{ next.title }} →</a>
		</div>
	</div>
</div>


{% include footer.html %}
{% include script.html %}